In [16]:
import pandas as pd
data1 =pd.read_csv('dataneedforminmaxscale.csv')
data1

,seat comfert,cabinstaff,foodandbev,entrtain,groundservice,valueformoney
0,4,4,3,4,4,4

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(data)
minmaxscalerdata1 =scaler.transform(data1)
print(minmaxscalerdata1)
minmaxscalerdata1.shape

[[0. 0. 0. 0. 0. 0.]]

(1, 6)

In [18]:
columnsfornumericdata=['seat_comfort','cabin_service','food_bev','entertainment','ground_service','value_for_money']
transformeddata1=pd.DataFrame()
transformeddata1[columnsfornumericdata]=pd.DataFrame(minmaxscalerdata1)
transformeddata1

,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money
0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
data2 =pd.read_csv('customerreviesfordiffservices.csv')
data2

,traveller_type_Couple Leisure,traveller_type_Family Leisure,traveller_type_Solo Leisure,cabin_Economy Class,cabin_First Class,cabin_Premium Economy
0,1,0,0,0,0,0

In [20]:
data3=pd.concat([data2, transformeddata1], axis=1)
data3

,traveller_type_Couple Leisure,traveller_type_Family Leisure,traveller_type_Solo Leisure,cabin_Economy Class,cabin_First Class,cabin_Premium Economy,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money
0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
arr = data3.to_numpy()

In [22]:
arr

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])